---
layout: home
title: WOBH by wobh
---

{% include header.html %}

<section>
  <h3>Welcome Onboard Billy's Hovercraft.</h3>
  
  <p>Here are a couple of my projects worth noting.</p>
  
  <ul>
    <li><a href="http://github.com/wobh/HQ9F-ruby">HQ9F-ruby</a> - A
      demo of how to do basic things in Ruby</li>
    <li><a href="http://github.com/wobh/starmaze">Starmaze</a> - My
      first Common Lisp project.</li>
    <li><a href="http://gist.github.com/wobh">My GitHub gists</a></li>
  </ul>
</section>

{% include blog-list.html %}
