<header>
  <h1>WOBH</h1>
  <p>William Clifford's GitHub projects and pages.</p>

  <ul class="self-links">
    <li><a href="https://drive.google.com/file/d/0BwpZ41aIp6TZMGc5OWVDTFp1cnc/view?usp=sharing">PDF Resume</a></li>
    <li><a href="https://github.com/wobh">GitHub profile</a></li>
    <li><a href="https://twitter.com/wobher">@wobher</a></li>
    <li><a href="http://www.linkedin.com/pub/william-clifford/44/22a/41b">LinkedIn</a></li>
  </ul>
  
  <div class="avatar">
    <a href="http://en.gravatar.com/wobher">
      <img 
         src="/images/resi-bnry-gray.png"
         alt="Residue table of 4-bit complementary binary gray code."/>
    </a>
  </div>
</header>
